:root {
  --background-color: #121212;
  --text-color: #abb2bf;
  --accent-color: #0b1959;
  --header-color: #787878;
  --button-color: #555555;
  --link-color: #61afef;
  --input-color: #a7a7a7;
}

/* --background-color: #282c34;
--text-color: #abb2bf; */


/*Text Color*/
h1,
h2,
h3,
h4,
time,
blockquote,
b,
.desc,
.hidden-lg text-center bb-section-heading,
tr,
.h1-spacing center sky-page-heading,
#date-display-label,
.bb-tile-content,
.title,
.black-fgc,
.sky-nav,
.control-label,
td.tblcell,
tbody
{
  color: var(--text-color) !important;
  
}

/*Link Color*/
a,
.markup--anchor,
.markup--p-anchor,
.btn-link {
  color: var(--link-color) !important;
}

/*Accent Color*/



.app-style,
#app-style,
.pri-100-bgc
.site-header-nav sky-nav,
#site-user-nav,
#site-header-bottom,
#site-nav-bottom,
.site-main-wrap,
.bb-tile-content

{
  background-color: #0b1959 !important;
  color:#0b1959 !important;
}

/* Black Background */
#site-header-container,
.metabar,
.u-clearfix,
.js-metabar,
.is-hiddenWhenMinimized, 
.site-main-wrap,
.site-top-spacer,
.assignment-center-assignment-items,
.bb-tile-header,
.bb-tile,
.sec-15-bgc,
.container,
.sec-50-bgc,
.row,
#topnav-containter,
.onelineparentitemfirst,
.assignment-center-list-view,
.assignment-center-layout-container,
.assignment-list-title-cell,
td,
.subnavbar subnavbar-fixed visible-desktop hidden-sm hidden-xs,
#site-nav-container,
#assignment-center-content-view,
.container,
.oneline parentitem  first,
.subnavtrigger 
#site-nav-lower,
body,
.subnavtrigger
.black-fgc,
.oneline,
.parentitem,
.myday-nav res-container clearfix hidden-xs hidden-sm visible-desktop,
html,
.pri-100-bgc,
#site-login-box,
#site-login,
#site-login-logo,
div,
.nav,
.nav-pills,
#site-nav-lower,
iframe
{
  background-color: var(--background-color) !important;
}

/*Button Colors*/
span,
.desc,
.first,
btnbtn-smbtn-defaultpull-rightassignment-calendar-view {
  color: whitesmoke;
}

/*Header Color*/

.add-existing-items-header
{
  background-color: var(--header-color);
}

/*Text*/
h1,
h2,
h3,
h4,
time,
blockquote,
b,
.desc,
.hidden-lg text-center bb-section-heading,
tr,
.h1-spacing center sky-page-heading,
#date-display-label,
.bb-tile-content,
.title,
.sec-25-bgc-hover,
.span,
.well-sm,
p,
button.btn.disabled 
{
  color: var(--text-color) !important;
  
}


.label,
.label-warning,
.primary-status,
select#gradeSelect.input-sm,
a.btn.btn-default.btn-xs,
.accordion-toggle,
.sendmessage {
  color: white !important;
}

/*Buttons that are links*/
.active > a,
.white-bgc,
h5{
  color: var(--background-color) !important;
  
}

/*Change Assignment Status*/

.assignment-status-update,
div#BackButton.btn.btn-link


{
  color: var(--link-color) !important;
  
}

/*Assignment center buttons*/

/*btn btn-sm btn-default assignmentDisplayTypeFilter */
.btnCal,
.assignmentDisplayTypeFilter,
.btn-default,
.btn-sm,
button,
a#modal-toggle.thumbnail

{
  background-color: var(--button-color)! important;
  color: var(--button-color);

}

/*input/select background color*/

input,
select
 {
  background-color: var(--input-color)!important;
}
/* Fix Links w/ grey background */
.btn-link,
button.btn.disabled,
button.fa.fa-chevron-up.bb-tile-chevron,
button.fa.fa-chevron-down.bb-tile-chevron,
li.oneline.parentitem.first,
div.subnav.sec-75-bordercolor.white-bgc.sky-nav.nav.visible

{ 
background-color: var(--background-color)!important;

}

button.btn.btn-link {
  color: var(--link-color)!important;
}

div.subnav.sec-75-bordercolor.white-bgc.sky-nav.nav.visible,
ul,
ul.first {
  color: var(--background-color)!important;
}
